<!-- Main page -->
<div class="container-fluid">
    <h2>Guests</h2>
    <br>
    <div class="row">
        <div class="table-responsive">
            <div style="text-align: center;">
                <div class="btn-group">
                    <button type="button" class="btn btn-info btn-md" id="addBtn">New Guest</button>
                </div>
            </div>
            <br>
            <br>
            <table id="table" class="table table-bordred table-striped" width="100%">
                <thead>
                    <tr>
                        <th>Last Name</th>
                        <th>First Name</th>
                        <th>Address</th>
                        <th>Postal Code</th>
                        <th>City</th>
                        <th>Email</th>
                        <th>Phone Number</th>
                        <th>Date of Birth</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
</div>
<!-- Create Modal -->
<div class="modal fade" id="form" tabindex="-1" role="dialog" aria-labelledby="edit" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title custom_align" id="title"></h4>
            </div>
            <div class="modal-body">
                <input type="hidden" id="id">
                <div class="form-group">
                    <input class="form-control" id="firstName" type="text" placeholder="Donald">
                </div>
                <div class="form-group">
                    <input class="form-control" id="lastName" type="text" placeholder="Duck">
                </div>
                <div class="form-group">
                    <input class="form-control" id="address" type="text" placeholder="Straat 10">
                </div>
                <div class="form-group">
                    <input class="form-control" id="postalCode" type="text" placeholder="1234 AB">
                </div>
                <div class="form-group">
                    <input class="form-control" id="city" type="text" placeholder="Duckstad">
                </div>
                <div class="form-group">
                    <input class="form-control" id="email" type="email" placeholder="donald@duck.com">
                </div>
                <div class="form-group">
                    <input class="form-control" id="phoneNumber" type="text" placeholder="012-1234123">
                </div>
                <div class="form-group">
                    <input class="form-control" id="dateOfBirth" type="date" placeholder="10-11-1980">
                </div>
            </div>
            <div class="modal-footer ">
                <button type="button" id="saveBtn" class="btn btn-warning btn-lg" style="width: 100%;">Save</button>
                <button type="button" id="deleteBtn" class="btn btn-danger btn-lg" style="width: 100%;">Delete</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<script src="/js/guests.js" type="text/javascript"></script>